<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Ethereal market</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.svg') }}">
    <link rel="stylesheet" href="{{ dated_url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    {% block html %}
    
    {% endblock %}

</head>
<body data-version="{{ html_version }}">

    <div class="root">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="notify">
                    {% for category, message in messages %}
                        <div class="notify__message">
                            <div class="notify__message__header">
                                <span class="title">Ethereal Market</span>
                                <span class="description">{{ message }}</span>
                            </div>
                            <div class="notify__message__bottom">
                                
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div class="titlebar__container" id="titlebar__container">
            <div class="titlebar__content">
                <div class="titlebar__item" style="justify-content: left;">
                    <button href="/" onclick="scrollToElement('page__container')" class="titlebar__site__button">
                        <img src="{{ url_for('static', filename='svg/logo.svg') }}" onerror="this.style.display='none'">
                        <div class="titlebar__site__button__text" id="titlebar__site__button__text">
                            <span class="title">GRAPHIC DESIGN</span>
                            <span class="description">A store that has everything</span>
                        </div>
                    </button>
                </div>
                <div class="titlebar__item" style="justify-content: center;">
                    <button href="/" onclick="scrollToElement('page__container')" class="titlebar__button">
                        Home
                    </button>
                    <button href="/" onclick="scrollToElement('reviews__container')" class="titlebar__button">
                        Reviews
                    </button>
                    <button href="/" onclick="scrollToElement('sellers__container')" class="titlebar__button">
                        Sellers
                    </button>
                </div>
                <div class="titlebar__item" style="justify-content: right;">
                    {% if user_id %}
                    <button href="/profile/general_information" class="redirect-button titlebar__profile__button">
                        <span id="username">{{ get_user(user_id).username }}</span>
                        <div class="avatar__container">
                            <img src="{{ get_avatar_path(user_id) }}" onerror="this.style.display='none'">
                        </div>
                    </button>
                    {% else %}
                    <button href="/login" class="redirect-button titlebar__button">
                        Login
                    </button>
                    <button href="/register" class="redirect-button titlebar__button">
                        Register
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
        
        {% block body %}
        
        {% endblock %}

        <div class="guarantee__container">
            <div class="guarantee__content">
                <div class="guarantee__item">
                    <img src="{{ url_for('static', filename='svg/solar_user-bold-duotone.svg') }}" onerror="this.style.display='none'">
                    <span class="title">Quick support</span>
                    <span class="description">Customer service that will answer you anytime 24/7 even on weekends.</span>
                </div>
                <div class="guarantee__item">
                    <img src="{{ url_for('static', filename='svg/solar_delivery-bold-duotone.svg') }}" onerror="this.style.display='none'">
                    <span class="title">Instant delivery</span>
                    <span class="description">Instant access to your product right after payment, directly in your account.</span>
                </div>
                <div class="guarantee__item">
                    <img src="{{ url_for('static', filename='svg/solar_heart-bold-duotone.svg') }}" onerror="this.style.display='none'">
                    <span class="title">High quality</span>
                    <span class="description">Superior quality ensured by our veteran developers with years of industry experience.</span>
                </div>
                <div class="guarantee__item">
                    <img src="{{ url_for('static', filename='svg/duo-icons_chip.svg') }}" onerror="this.style.display='none'">
                    <span class="title">Own engine</span>
                    <span class="description">Our proprietary engine runs on an enhanced ImGui framework with our custom add-ons.</span>
                </div>
                <div class="guarantee__item">
                    <img src="{{ url_for('static', filename='svg/solar_incognito-bold-duotone.svg') }}" onerror="this.style.display='none'">
                    <span class="title">Anonymous delivery</span>
                    <span class="description">Your complete anonymity and confidentiality for every purchase.</span>
                </div>
            </div>
        </div>

        {% block footer %}
        
        {% endblock %}

        <div class="footer__container">
            <div class="footer__content">
                <div class="footer__item left" style="justify-content: left;">
                    <img src="{{ url_for('static', filename='svg/Subtract.svg') }}" onerror="this.style.display='none'">
                </div>
                <div class="footer__item center" style="justify-content: center;">
                    <span id="footer__text" style="height: 13px;">
                        @2020-2025
                        <span style="color: var(--white);">Interface & identity design</span>
                    </span>
                </div>
                <div class="footer__item right" style="justify-content: right; gap: 35px;">
                    <button onclick="window.open('https://www.youtube.com/@uixOwl', '_blank')" class="contact-button youtube"></button>
                    <button onclick="window.open('https://t.me/+mYN_FHnwaEQwYTEy', '_blank')" class="contact-button telegram"></button>
                    <button onclick="window.open('https://discord.gg/TJ2h6ZFM', '_blank')" class="contact-button discord"></button>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/html_version.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
    {% block script %}
    
    {% endblock %}

</body>
</html>