{% extends "base.html" %}

{% block html %}
    <link rel="stylesheet" href="{{ dated_url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}

    <div class="page__container" id="page__container">
        <span class="title">Ethereal engine</span>
        <span class="description">We are a team of C++ developers, developing graphical interfaces and much more.</span>
        <button onclick="scrollToElement('sellers__container')" class="animated-button">
            <span>Buy now</span>
        </button>
    </div>

    <div class="statistic__container">
        <div class="statistic__content">
            <div class="statistic__item">
                <img src="{{ url_for('static', filename='svg/solar_users-group-rounded-bold-duotone.svg') }}" onerror="this.style.display='none'">
                <div class="statistic__item__text">
                    <span class="title">10.000+</span>
                    <span class="description">Customers</span>
                </div>
            </div>
            <div class="statistic__item">
                <img src="{{ url_for('static', filename='svg/duo-icons_shopping-bag.svg') }}" onerror="this.style.display='none'">
                <div class="statistic__item__text">
                    <span class="title">45.000+</span>
                    <span class="description">Sales In the last year</span>
                </div>
            </div>
            <div class="statistic__item">
                <img src="{{ url_for('static', filename='svg/duo-icons_clock.svg') }}" onerror="this.style.display='none'">
                <div class="statistic__item__text">
                    <span class="title">5+</span>
                    <span class="description">Years on market</span>
                </div>
            </div>
            <div class="statistic__item">
                <img src="{{ url_for('static', filename='svg/solar_qr-code-bold-duotone.svg') }}" onerror="this.style.display='none'">
                <div class="statistic__item__text">
                    <span class="title">15+</span>
                    <span class="description">Developers</span>
                </div>
            </div>
        </div>
    </div>

    <div class="note__container">
        <span class="title">
            Buying with
            <span class="title accent">pleasure!</span>
        </span>
        <span class="description">Choose a seller you can trust. Every partner on our platform is vetted for reliability and has a proven market reputation.</span>
    </div>

{% endblock %}

{% block footer %}

    <div class="reviews__container" id="reviews__container">
        <div class="reviews__content">
            <div class="reviews__items__container">
                {% for review in reviews %}
                <div class="reviews__item">
                    <div class="reviews__item__header">
                        <span class="title">{{ review[0] }}</span>
                    </div>
                    <div class="reviews__item__bottom">
                        <div class="reviews__item__bottom__customer">
                            <span class="title">Customer</span>
                            <span class="description">{{ review[1] }}</span>
                        </div>
                        <div class="reviews__item__bottom__stars">
                            {% for i in range(5) %}
                                <img src="{{ url_for('static', filename='svg/star (2) 2.svg') }}" onerror="this.style.display='none'">
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <span class="title-description">Our reviews are honest. Want more proof? Join our Discord server to see over <span style="font-size: 25px; font-weight: 600; color: var(--accent);">10.000</span> genuine reviews!</span>

            <button onclick="window.open('https://discord.gg/TJ2h6ZFM', '_blank')" class="animated-button">
                <span>Go to reviews</span>
            </button>

        </div>
    </div>

    <div class="sellers__container" id="sellers__container">
        <div class="sellers__content">
            <span class="title">All trusted sellers on our team</span>
            <div class="sellers__items__container">
                {% for seller_id in seller_ids %}
                <button class="seller__item redirect-button" href="/products/{{ get_user(seller_id).username }}">
                    <div class="seller__item__information">
                        <div class="avatar__container">
                            <img src="{{ get_avatar_path(seller_id) }}" onerror="this.style.display='none'">
                        </div>
                        <div class="seller__item__information__name__and__products">
                            <div class="seller__item__information__name__status">
                                <img style="margin-right: 5px;" src="{{ url_for('static', filename='svg/bxs_badge-check.svg') }}" onerror="this.style.display='none'">
                                <span class="title">{{ get_user(seller_id).username }}</span>
                                <div class="style_dot"></div>
                                <span class="accent">{{ get_user(seller_id).status }}</span>
                            </div>
                            <span class="description">{{ get_seller_product_count(seller_id) }} {% if get_seller_product_count(seller_id) == 1 %} product {% else %} products {% endif %} in stock</span>
                        </div>
                    </div>
                    {% if object_len(get_user(seller_id).short_bio) > 0 %}
                    <span class="title">{{ get_user(seller_id).short_bio }}</span>
                    {% endif %}
                    {% if object_len(get_user(seller_id).full_bio) > 0 %}
                    <span class="description">{{ get_user(seller_id).full_bio }}</span>
                    {% endif %}
                    <div class="seller__item__image__preview">
                        <div class="seller__item__image__preview__container">
                            <img src="{{ url_for('static', filename='uploads/') }}{{ get_user(seller_id).preview_image1 }}" onerror="this.style.display='none'">
                        </div>
                        <div class="seller__item__image__preview__container">
                            <img src="{{ url_for('static', filename='uploads/') }}{{ get_user(seller_id).preview_image2 }}" onerror="this.style.display='none'">
                        </div>
                        <div class="seller__item__image__preview__container">
                            <img src="{{ url_for('static', filename='uploads/') }}{{ get_user(seller_id).preview_image3 }}" onerror="this.style.display='none'">
                        </div>
                    </div>
                </button>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    

{% endblock %}