<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>SIGN IN</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='svg/logo.svg') }}">
    <link rel="stylesheet" href="{{ dated_url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ dated_url_for('static', filename='css/auth.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
</head>
<body data-version="{{ html_version }}">

    <div class="root">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="notify">
                    {% for category, message in messages %}
                        <div class="notify__message">
                            <div class="notify__message__header">
                                <span class="title">Ethereal Market</span>
                                <span class="description">{{ message }}</span>
                            </div>
                            <div class="notify__message__bottom">
                                
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        
        <div class="auth-wrapper__logo__container">
            <img src="{{ url_for('static', filename='svg/logo.svg')}}" class="auth-wrapper__logo">
        </div>
        <div class="auth-wrapper__form">
            <form method="post" action="login" class="auth-wrapper__form-inner">
                <div style="width: 100%; display: flex; align-items: flex-start;">
                    <button class="auth-wrapper__nav__button redirect-button" href="/" style="display: flex; gap: 10px; align-items: center;">
                        <img src="{{ url_for('static', filename='svg/-_.svg') }}" onerror="this.style.display='none'">
                        <span>Login to continue...</span>
                    </button>
                </div>
                <div class="auth-wrapper__form-inner__input username">
                    <div class="auth-wrapper__form-inner__input__icon" data-icon="user"></div>
                    <input type="text" name="username" required placeholder="Enter your username">
                </div>
                <div class="auth-wrapper__form-inner__input password">
                    <div class="auth-wrapper__form-inner__input__icon" data-icon="password"></div>
                    <input type="text" name="password" required placeholder="Enter your password">
                </div>
                <button class="auth-wrapper__nav__button redirect-button" href="/register">
                    <span>Are you new?</span>
                    <span style="color: var(--accent);">Register here</span>
                </button>
                <button class="main__button"><span>Authorization</span></button>
            </form>
        </div>    
    </div>

    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/html_version.js') }}"></script>

</body>
</html>
