{% extends "profile_base.html" %}

{% block my_products_tab %}active{% endblock %}

{% block menu %}
    <span class="title">Installed products</span>
    <div class="profile__grid__3__content">
        {% for product_id in product_ids %}
        <div class="own__item">
            <div class="own__item__header redirect-button" href="/profile/change-product/{{ product_id }}">
                <div class="own__item__header__text">
                    <span class="title">
                        {{ get_product(product_id).category }}
                        <span style="color: var(--accent);">{{ get_product(product_id).name }}</span>
                    </span>
                    <span class="description">
                        Was sold: 
                        <span style="color: var(--white);">{{ get_product_solds(product_id) }}</span>
                        {% if get_product(product_id).in_stock > -1 %}
                        <span style="color: var(--white);">/</span>
                        <span style="color: var(--white);">{{ get_product(product_id).in_stock }}</span>
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="own__item__bottom">
                <button class="redirect-button" href="/profile/change-product-pin/{{ product_id }}">
                {% if get_product(product_id).pin %}
                    <img src="{{ url_for('static', filename='svg/thumbtack (8) 1.svg') }}" onerror="this.style.display='none'">
                {% else %}
                    <img src="{{ url_for('static', filename='svg/thumbtack (8) 2.svg') }}" onerror="this.style.display='none'">
                {% endif %}
                </button>
                <div class="own__item__bottom__buttons">
                    <button onclick="confirmDelete({{ product_id }})">
                        <img src="{{ url_for('static', filename='svg/cross-circle 1.svg') }}" onerror="this.style.display='none'">
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="seperator"></div>
    <button href="/profile/create_product" class="redirect-button profile__submit__button">Create a new</button>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/confirm.js') }}"></script>
    <script src="{{ url_for('static', filename='js/profile.js')}}"></script>
{% endblock %}