{% extends "profile_base.html" %}

{% block payment_details_tab %}active{% endblock %}

{% block menu %}

    <span class="title">NowPayments</span>

    <form action="change-nowpayments-api-key" method="post" class="profile__flex__column__content">
        <div class="profile__flex__wrap__content">
            <div class="input__text">
                <span>Your API key</span>
                <input type="text" name="nowpayments_api_key" value="{{ get_user(user_id).nowpayments_api_key }}" required>
            </div>
            <div class="input__text">
                <span>Password confirmation</span>
                <input type="text" name="password" required>
            </div>
        </div>
        <div class="seperator"></div>
        <input class="profile__submit__button" type="submit" value="Save changes">
    </form>

{% endblock %}