
.product__container {
    width: 100%;
}

.product__content {
    max-width: var(--containers-max-width);
    padding: 158px 0;
    padding-bottom: 75px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 75px;
}

.product__content .title {
    all: unset;
    font-size: 15px;
    font-weight: 400;
    color: var(--white);
}

.product__information {
    width: 100%;
    display: flex;
    gap: 20px;
}

.fast_wrap {
    display: flex;
}

.fast_column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product__information__left {
    width: 100%;
    padding: 20px;
    background: linear-gradient(180deg, #5B52D810, #08080A10);
    border-top: 3px solid var(--accent);
    border-bottom: 3px solid var(--accent);
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    height: min-content;
}

.product__information__right {
    width: 100%;
}

.seller__information {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.product__information__left .title {
    all: unset;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white);
}

.product__information__left .description {
    all: unset;
    max-width: 100%;
    white-space: pre-line;
    text-align: left;
    word-wrap: break-word;
    font-size: 12px;
    color: #525272;
    font-weight: 500;
    text-indent: 0;
    line-height: 170%;
}

.seperator {
    width: 100%;
    height: 1px;
    background-color: var(--border);
}

.seller__avatar__container {
    width: 70px;
    height: 70px;
    min-width: 70px;
    max-width: 70px;
    min-height: 70px;
    max-height: 70px;
    border-radius: 100px;
    overflow: hidden;
}

.seller__avatar__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.seller__information {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.seller__information__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.seller__information__content .description {
    font-size: 11px;
    font-weight: 600;
    color: #525272;
}

.seller__information__content .header {
    display: flex;
    gap: 12px;
    align-items: center;
}

.seller__information__content .header img {
    width: 21px;
    height: 21px;
}

.seller__information__content .header .title {
    all: unset;
    font-size: 15px;
    font-weight: 500;
    color: var(--white);
}

.seller__information__content .header .status {
    all: unset;
    font-size: 15px;
    font-weight: 500;
    color: var(--accent);
}

.product__tag {
    padding: 10px;
    display: flex;
    gap: 10px;
    background-color: var(--orange15);
    color: var(--orange);
    font-size: 11px;
    font-weight: 800;
    border-radius: 4px;
    text-transform: uppercase;
}

.contact_button {
    width: 100%;
    padding: 15px;
    border: 1px solid var(--border);
    outline: 0px solid var(--alpha0);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s ease;
}

.contact_button:hover {
    border: 1px solid var(--accent);
    outline: 5px solid var(--accent20);
}

.contact_button .fast_wrap {
    align-items: center;
    gap: 20px;
}

.contact_button .fast_wrap span {
    font-size: 10px;
    font-weight: 500;
    color: var(--white);
}

.create__ticket__button {
    all: unset;
    width: 100%;
    border-radius: 8px;
    background-color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border: none;
    outline: 0px solid var(--alpha0);
    transition: all 0.2s ease;
    cursor: pointer;
}

.create__ticket__button:hover {
    outline: 5px solid var(--accent20);
    background-color: var(--accent-hover);
    scale: 0.99;
}

.create__ticket__button span {
    all: unset;
    color: var(--black);
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.product__information__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.main__image__preview, .main__image__preview iframe {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    overflow: hidden;
}

.main__image__preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.all_images__container {
    width: 100%;
    display: flex;
    gap: 20px;
}

.all__image__container {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid var(--border);
    outline: 0px solid var(--alpha0);
    transition: all 0.2s ease;
}

.all__image__container:hover {
    border: 1px solid var(--accent);
    outline: 5px solid var(--accent20);
    scale: 0.95;
}

.all__image__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.buy__notify {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy__notify .title {
    width: 100%;
    all: unset;
    display: flex;
    flex-direction: column;
    gap: 5px;    
    font-size: 10px;
    font-weight: 600;
    color: var(--white);
    text-transform: uppercase;   
    justify-content: center;
    align-items: center;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.modal.active {
    opacity: 1;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.modal-content.active {
    opacity: 1;
}

@media screen and (min-width:767px) and (max-width:1200px) {

}

@media screen and (max-width:767px) {
    .product__information {
        flex-direction: column-reverse;
    }
}